*{
  margin: 0;
  padding: 0;
}
header{
  background: url('../images/menu.jpg') center top no-repeat;
  width: 100%;
  height: 135px;
}
footer{
  background: url('../images/footer.jpg') center top no-repeat;
  width: 100%;
  height: 175px;
  margin-top: 50px;
}
.banner{
  background: url('../images/banner.jpg') center top no-repeat;
  width: 100%;
  height: 227px;
  margin-bottom: 25px;
}
.container{
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;

}
.nav-environments{
  background: rgb(227,120,54);
  background: -moz-linear-gradient(left,  rgba(227,120,54,1) 0%, rgba(206,35,65,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(227,120,54,1) 0%,rgba(206,35,65,1) 100%);
  background: linear-gradient(to right,  rgba(227,120,54,1) 0%,rgba(206,35,65,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e37836', endColorstr='#ce2341',GradientType=1 );
  display: flex;
  justify-content: space-evenly;
  height: 51px;
  align-items: center;
  border-bottom: 2px solid #fff;
}
.nav-environments a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
}
.title{
  background: rgb(227,120,54);
  background: -moz-linear-gradient(left,  rgba(206,35,65,1) 0%, rgba(227,120,54,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(206,35,65,1) 0%, rgba(227,120,54,1) 100%);
  background: linear-gradient(to right,  rgba(206,35,65,1) 0%, rgba(227,120,54,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce2341', endColorstr='#e37836',GradientType=1 );
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 17px;
}
.intro{
  display: flex;
  justify-content: center;
  width: calc(100% - 3px);
  height: 755px;
  padding: 1px 1px 2px 1px;
  max-width: 100%;
  /*background: rgb(227,120,54);
  background: -moz-linear-gradient(left,  rgba(227,120,54,1) 0%, rgba(206,35,65,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(227,120,54,1) 0%,rgba(206,35,65,1) 100%);
  background: linear-gradient(to right,  rgba(227,120,54,1) 0%,rgba(206,35,65,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e37836', endColorstr='#ce2341',GradientType=1 );*/
}
.opcion{
  width: 377px;
  background-size: initial;
  cursor: pointer;
  position: relative;
  transition: .3s width ease;
}
.opcion span{
  color: #fff;
  width: 100%;
  display: flex;
  font-size: 54px;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  height: 58px;
  align-items: center;
}
.opcion:hover {
    width: 450px;
}
.opcion-1{
  background-image: url('../images/sala-1.jpg');
  background-position: left top;
}
.opcion-1 span{
  background: rgba(0, 118, 189, 0.75);
  position: absolute;
  top: 50%;
}
.opcion-1--comedor{
  background-image: url('../images/comedor-1.jpg');
  background-position: left top;
}
.opcion-1--alcoba{
  background-image: url('../images/alcoba-1.jpg');
  background-position: left top;
}
.opcion-1--fachada{
  background-image: url('../images/fachada-1.jpg');
  background-position: left top;
}
.opcion-1--madera{
  background-image: url('../images/madera-1.jpg');
  background-position: left top;
}
.opcion-1--otros{
  background-image: url('../images/otros-1.jpg');
  background-position: left top;
}
.opcion-2{
  background-image: url('../images/sala-2.jpg');
  background-position: center top;
}
.opcion-2 span{
  background: rgba(186, 0, 56, 0.75);
  position: absolute;
  top: calc(50% + 58px);
}
.opcion-2--comedor{
  background-image: url('../images/comedor-2.jpg');
  background-position: left top;
}
.opcion-2--alcoba{
  background-image: url('../images/alcoba-2.jpg');
  background-position: left top;
}
.opcion-2--fachada{
  background-image: url('../images/fachada-2.jpg');
  background-position: left top;
}
.opcion-2--madera{
  background-image: url('../images/madera-2.jpg');
  background-position: left top;
}
.opcion-2--otros{
  background-image: url('../images/otros-2.jpg');
  background-position: left top;
}
.opcion-3{
  background-image: url('../images/sala-3.jpg');
  background-position: right top;
}
.opcion-3 span{
  background: rgba(137, 178, 64, 0.75);
  position: absolute;
  top: calc(50% - 58px);
}
.opcion-3--comedor{
  background-image: url('../images/comedor-3.jpg');
  background-position: left top;
}
.opcion-3--alcoba{
  background-image: url('../images/alcoba-3.jpg');
  background-position: left top;
}
.opcion-3--fachada{
  background-image: url('../images/fachada-3.jpg');
  background-position: left top;
}
.opcion-3--madera{
  background-image: url('../images/madera-3.jpg');
  background-position: left top;
}
.opcion-3--otros{
  background-image: url('../images/otros-3.jpg');
  background-position: left top;
}
.p-relative{
  position: relative;
}
.pared img{
  position: relative;
}
.left:hover .pared-left{
  opacity: 0.2;
}
.pared-left {
    position: absolute;
    width: 60%;
    height: 95%;
    left: 0;
    top: 1px;
    cursor: pointer;
}
.pared-left--comedor{
  width: 100%;
}
.pared-left--alcoba{
  width: 31%;
}
.pared-left--alcoba-2{
  width: 64%;
}
.pared-left--alcoba-3{
  width: 35%;
}
.pared-left--fachada{
  width: 54%;
}
.pared-left--fachada2{
  width: 44%;
}
.pared-left--fachada3{
  width: 48%;
}
.pared-right {
    position: absolute;
    right: 0;
    width: 42%;
    height: 95%;
    top: 10px;
}
.pared-right--alcoba{
  width: calc(69% + 1px);
  top: 1px;
}
.pared-right--alcoba-2{
  width: calc(36% + 1px);
  top: 1px;
}
.pared-right--alcoba-3{
  width: calc(65% + 1px);
  top: 1px;
}
.pared-right--fachada{
  width: calc(46% + 1px);
  top: 1px;
}
.pared-right--fachada2{
  width: calc(56% + 1px);
  top: 1px;
}
.pared-right--fachada3{
  width: calc(52% + 1px);
  top: 1px;
}
.colors{
  position: absolute;
  top:0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.65);
  width: 220px;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

.content-color{
  display: flex;
  justify-content: flex-start;
  padding: 1px 5px;
  align-items: center;
  align-content: center;
  height: 20px;
  cursor: pointer;
}
.content-color:hover, .active {
    background: rgba(0, 0, 0, 0.20);
}
.content-color span{
  display: flex;
  width: 44px;
  height: 17px;
  margin-right: 10px;
}
.content-color p{
  color: #3a3a3a;
  font-size: 13px;
}
.box-down{
  background: rgb(227,120,54);
  background: -moz-linear-gradient(left,  rgba(206,35,65,1) 0%, rgba(227,120,54,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(206,35,65,1) 0%, rgba(227,120,54,1) 100%);
  background: linear-gradient(to right,  rgba(206,35,65,1) 0%, rgba(227,120,54,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce2341', endColorstr='#e37836',GradientType=1 );
  height: 51px;
  line-height: 51px;
  display: flex;
  justify-content: space-around;
}
.box-down a{
  float: right;
  font-weight: bold;
  text-decoration: none;
  color: #ffF;
  font-size: 14px;
  padding: 0 30px;
  border-left: 1px solid #fff;
}
.ambiente2 .pared-left{
  width: 100%;
}
.ambiente2 .pared-right{
  display: none;
}
.ambiente2 #div--false-left {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    opacity: 0;
    height: 58%;
    cursor: pointer;
    left: auto;
}
.ambiente2 #div--false-right{
  display: none;
}
.ambiente3 .pared-left{
  width: 38%;
}
.ambiente3 #div--false-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 38%;
    opacity: 0;
    height: 73%;
    cursor: pointer;
}
.ambiente3 .pared-right{
  width: 62%;
  top: 0;
}
.ambiente3 #div--false-right {
    position: absolute;
    right: 0;
    width: 62%;
    opacity: 0;
    height: 60%;
    top: 0px;
    cursor: pointer;
}
#div--false-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    opacity: 0;
    height: 56%;
    cursor: pointer;
}
#div--false-right{
    position: absolute;
    right: 0;
    width: 42%;
    opacity: 0;
    height: 60%;
    top: 60px;
    cursor: pointer;
}
.d-none{
  display: none;
}
#div-svg svg{
  opacity: .4;
}
.div-svg svg{
  opacity: 1 !important;
}
.div-svg svg path{
  cursor: pointer;
}
.div-svg svg path:hover{
  opacity: 0.8 !important;
}
.svg-right{
    position: absolute;
    top: 396px;
    right: 6px;
}
.svg-right-madera2{
    position: absolute;
    top: 536px;
    right: 71px;
}
.svg-right-madera3{
    position: absolute;
    top: 246px;
    left: 0px;
}
.svg-left{
    position: absolute;
    top: 438px;
    left: 7px;
}
.svg-left-madera2{
    position: absolute;
    top: 478px;
    left: 189px;
}
.svg-left-sala1 {
    position: absolute;
    left: 0px;
    top: -1px;
}
.svg-right-sala1 {
    position: absolute;
    right: 84px;
    top: 66px;
}
.svg-left-sala2 {
    position: absolute;
    left: -2px;
    top: 3px;
}
.svg-right-sala2 {
    position: absolute;
    right: 35px;
    top: 2px;
}
.svg-left-sala3 {
    position: absolute;
    left: 133px;
    top: 35px;
}
.svg-right-sala3 {
    position: absolute;
    right: 0px;
    top: 34px;
}
.svg-left-comedor1 {
    position: absolute;
    left: 20px;
    top: 2px;
}
.svg-right-comedor1 {
    position: absolute;
    right: 0px;
    top: 2px;
}
.svg-left-comedor2 {
    position: absolute;
    left: 291px;
    top: 2px;
}
.svg-right-comedor2 {
    position: absolute;
    right: 0px;
    top: 2px;
}
.svg-left-comedor3 {
    position: absolute;
    left: 0px;
    top: 2px;
}
.svg-right-comedor3 {
    position: absolute;
    right: 261px;
    top: 2px;
}
.svg-right-alcoba1 {
    position: absolute;
    right: 0px;
    top: 2px;
}
.svg-left-alcoba2 {
    position: absolute;
    left: 0px;
    top: 0px;
}
.svg-right-alcoba2 {
    position: absolute;
    right: 0px;
    top: 0px;
}
.svg-left-alcoba3 {
    position: absolute;
    left: 0px;
    top: 3px;
}
.svg-right-alcoba3 {
    position: absolute;
    right: 0px;
    top: 3px;
}
.svg-left-fachada1 {
    position: absolute;
    left: 51px;
    top: 205px;
}
.svg-right-fachada1 {
    position: absolute;
    right: 75px;
    top: 309px;
}
.svg-left-fachada2{
    position: absolute;
    left: 197px;
    top: 279px;
}
.svg-right-fachada2 {
    position: absolute;
    right: 230px;
    top: 132px;
}
.svg-left-fachada3{
    position: absolute;
    left: -1px;
    top: 155px;
}
.svg-right-fachada3 {
    position: absolute;
    right: 80px;
    top: 152px;
}
.svg-left-otros1{
    position: absolute;
    left: 243px;
    top: 4px;
}
.svg-right-otros1 {
    position: absolute;
    right: 0px;
    top: 2px;
}
.svg-left-otros2{
    position: absolute;
    left: -1px;
    top: 23px;
}
.svg-right-otros2 {
    position: absolute;
    right: 80px;
    top: 113px;
}
.svg-left-otros3{
    position: absolute;
    left: 168px;
    top: 151px;
}
.svg-right-otros3 {
    position: absolute;
    right: 0px;
    top: 3px;
}
.blanco{
  background: #fff;
}
.blanco-hueso{
  background: #dbc49d;
}
.champana{
  background: #c1c0b9;
}
.melon{
  background: #dfc4a2;
}
.crema{
  background: #dac191;
}
.bruma{
  background: #cfcdb9;
}
.naranja-chic{
  background: #e0ba8e;
}
.thailandes{
  background: #e2ba78;
}
.amarillo-caribe{
  background: #ddb824;
}
.amarillo{
  background: #d5a000;
}
.amarillo-otonial{
  background: #eea82c;
}
.mandarina{
  background: #e47543;
}
.naranja{
  background: #c64d2d;
}
.rojo-vivo{
  background: #b9332b;
}
.verde-tropical{
  background: #5cae5d;
}
.azul-oceano{
  background: #008093;
}
.azul-verano{
  background: #2b5eac;
}
.azul-oscuro{
  background: #1f3e70;
}
.rojo-emocion{
  background: #a16f61;
}
.verde-pino{
  background: #50765c;
}
.rojo-colonial{
  background: #7b3c32;
}
.verde-intenso{
  background: #005950;
}
.violeta{
  background: #42365d;
}
.gris-basalto{
  background: #6c6a68;
}
.negro{
  background: #000;
}
.menta-fresca{
  background: #c7d9be;
}
.lirio{
  background: #b4c0cb;
}
.amarillo-oro{
  background: #d09a3f;
}
.terracota{
  background: #b5795c;
}
.gris-nube{
  background: #a4a59d;
}
.azul-pacifico{
  background: #6081a5;
}
.verde-chartreuse{
  background: #a19d70;
}
.azul-porcelana{
  background: #c2d1ff;
}
.lino-crudo{
  background: #fef7dc;
}
.blanco-invierno{
  background: #f9f7f1;
}
.verde-aceituna{
  background: #4b6145;
}
.blanco-almendra{
  background: #d8d1b8;
}
.blanco-manzana{
  background: #d2d8b5;
}
.curuba{
  background: #d2d8b5;
}
.palo-de-rosa{
  background: #cfa882;
}
.mora{
  background: #cba998;
}
.verde-seda{
  background: #cfd699;
}
.aguamarina{
  background: #94c5bc;
}
.verde-agua{
  background: #bfc096;
}
.verde-mar{
  background: #6ab584;
}
.lila{
  background: #a59aaf;
}
.azul-cielo{
  background: #77b2da;
}
.azul-milano{
  background: #6485ba;
}
.coral{
  background: #e3bfa5;
}
.lima{
  background: #c5bb7e;
}
.arena{
  background: #cfc9b5;
}
.pomarosa{
  background: #cbcbc6;
}
.rosa{
  background: #d791ba;
}
.verde-turquesa{
  background: #658a7f;
}
.ocre{
  background: #ae7e35;
}
.trigo{
  background: #e6d9c1;
}
.blanco-durazno{
  background: #ffffef;
}
.blanco-lila{
  background: #fff8ff;
}
